body {
    background: grey;
    font-family: 'Cabin';
    margin: 0px;
    padding: 0px;
}
.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
p {
    font-size: 30px;
}
li {
    list-style: none; /*saca los puntos a los items */
    margin-right: 25px;

}
.menu{
    display: flex;
    justify-content: space-between; 
    align-items: baseline;
}
.lista{
    display: flex;
}
.redes{
    margin-right: 25px;
    text-decoration: none;
    color: white;
    background: #5cb8ff;
    /*padding: 20px; el padding es el espaciado interno de los componentes*/
    padding: 5px 20px 5px 20px; /*top right botton left*/
}
.titular{
    text-align: center;
    margin-top: 200px;
}
h1 {
    font-size: 60px;
    margin: 0px; /*este es el margen de los cuatros lados*/
}
h2 {
    font-size: 25px;
    margin: 0px; /*este es el margen de los cuatros lados*/
    margin-bottom: 20px;
}
header{
    background: url(fondo1.jpg);
    height: 100vh;/*viewport height el elemento ocupa el 100% del alto de la ventana*/
    background-size: cover;/*ubica el fondo adaptandolo a la ventana*/
}
.nombre {
    background: #CCBDA0;
    padding: 00px;
}
.contenedor-sobre-mi{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h3{
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}
.imagen-sobre-mi{
    max-width: 400px;
    max-height: 350px;
}
.contenedor-parrafoyboton{
    width: 42%;/*porcentaje es mejor para el responsive design*/
}
.contenedor-parrafoyboton a{
    margin-top: 25px;
    display: inline-block;/*esto le da propiedades al elemento en linea las propiedades de los de bloque*/
}

.contenedor-servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicio{
    width: 22%;
    padding: 30px 28px 30px 28px;
    border-radius: 15px;
    margin-bottom: 25px;
    color: white;
}

.violeta{
    background: #5055df;
}

.celeste{
    background: #40a8fa;
}

.servicio h4{
    font-size: 23px;
    margin: 0;
}
.servicio p{
    font-size: 18px;
    height: 100px;/* esto corrige la nivelacion de los textos */
}
.servicio img{
    float: right;
    background-color: azure;
    border-radius: 25%;
}

span{
    font-size: 80px;
    color: blue;
}

.owl-nav{
    text-align: center;
}
